@using IoTFeeder.Common.Common
@model IoTFeeder.Common.Models.IoTDevicePropertyViewModel
@{
    ViewData["Title"] = "Add Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="toolbar" id="kt_toolbar">
    <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
        <div class="breadcrumb-header justify-content-between">
            <div class="left-content">
                <h1 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">
                    Add Properties
                    <small class="text-muted fs-6 fw-normal ms-1"></small>
                </h1>
                <partial name="_BreadCrumb" />
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form class="form" asp-action="Create" enctype="multipart/form-data" id="blogform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <div class="form-group">
                        <label asp-for="IoTDeviceId">IoT Device <span class="text-danger">*</span></label>
                        <select asp-for="IoTDeviceId" asp-items="Model.SelectedDevice" class="form-control borderfix">
                            <option value="" selected="selected">- Select ioT Device -</option>
                        </select>
                        <span asp-validation-for="IoTDeviceId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="language-section" class="col-md-12">
                    <div class="addPropertyList">
                        <input type="hidden" asp-for="StrProperty" />
                        <div class="row addfields">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="PropertyName" maxlength="50" class="form-control" placeholder="Property name">
                                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select asp-for="DataTypeId" asp-items="Model.SelectDataType" class="form-control borderfix" onchange="return divHide(this);">
                                        <option value="" selected="selected">- Select Data Type -</option>
                                    </select>
                                    <span asp-validation-for="DataTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="MinValue" maxlength="50" class="form-control" placeholder="Min Value">
                                    <span asp-validation-for="MinValue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="MaxValue" maxlength="50" class="form-control" placeholder="Max Value">
                                    <span asp-validation-for="MaxValue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </div>

                    <a onclick="appendDiv()" href="javascript:;" style="color:#D1AF5D">Add New</a>

                    <div id="hdnTimeFields" class=" d-none">
                        <div class="row addfields">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="PropertyName" maxlength="50" class="form-control" placeholder="Property name">
                                    <span asp-validation-for="PropertyName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select asp-for="DataTypeId" asp-items="Model.SelectDataType" class="form-control borderfix" onchange="return divHide(this);">
                                        <option value="" selected="selected">- Select Data Type -</option>
                                    </select>
                                    <span asp-validation-for="DataTypeId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="MinValue" maxlength="50" class="form-control" placeholder="Min Value">
                                    <span asp-validation-for="MinValue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input type="text" asp-for="MaxValue" maxlength="50" class="form-control" placeholder="Max Value">
                                    <span asp-validation-for="MaxValue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <button type="button" onclick="removeDiv(this)" class="btn" title="delete" style="color:#b6b8bd">
                                    <i class="fa fa-trash fa-1.5x" style="font-size:20px"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-sm-12 col-lg-6">
                    <div class="form-group">
                        <label asp-for="IsActive">Status</label>
                        <div>
                            <label>
                                <input type="radio" asp-for="IsActive" value="true" /> Active
                            </label>
                            <label>
                                <input type="radio" asp-for="IsActive" value="false" /> Inactive
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="btnSave">
                    Save
                </button>
                <a asp-action="Index" class="btn btn-custom m-1">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/js/custom/IoTDeviceProperty.js")"></script>
}