@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-header justify-content-between">
    <div class="left-content">
        <div>
            <h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Home</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-12">
        <div id="display-message">
            <partial name="_CommonMessages" />
        </div>
    </div>
</div>