<ul class="breadcrumb fw-bold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a asp-action="Index" asp-controller="Home" class="text-muted text-hover-primary">Home</a>
    </li>
</ul>